* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background: rgb(217,35,112);
	background: linear-gradient(0deg, rgba(217,35,112,1) 0%, rgba(60,56,140,1) 59%, rgba(18,30,53,1) 100%);
}
header {
	display: inline;
}
#container {
	padding: 10px;
	width: 70%;
	float: left;
}
aside {
	float : right;
	border-radius: 10px;
	padding: 20px;
	width: 30%;
	background-color: #192841;
	background-image: url("../images/default.png");
	background-repeat: repeat-x;
	border: 2px solid #000000;
	max-height: 1090px;
}
aside2 {
	margin-top: 30px;
	float : right;
	border-radius: 10px;
	padding: 10px;
	width: 30%;
	flex-direction: column;
	background-color: #192841;
	background-image: url("../images/default.png");
	background-repeat: repeat-x;
	border: 2px solid #000000;
}
/* button panitia center*/
.btn {
	/* make it center */
	margin: 0 auto;
	/* make it block */
	display: block;
}

.agora {
	padding: 10px;
	background-color: #192841;
	color : #ffffff;
	text-align: center;
	text-transform: capitalize;
	background-image: url("../images/header.png");
}
.pan-text {
	align-items: center;
	text-align: center;
}
.beranda {
	text-align: center;
	color: #000000;
	text-align: justify;
	margin-bottom: 20px;
}
.tema {
	margin-top: -10px;
	margin-bottom: 10px;
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 10px;
	background-color: #fff;
}

.sambutan {
	overflow: auto;
	text-align: justify;
	overflow-y: hidden;
	margin-bottom: 20px;
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 10px;
	background-color: #fff;
}
.pic-quotes {
	padding: 5px;
	float:left;
	width: 120px;
	border-radius: 30%;
	margin-right: 20px;
}
.speaker {
	padding: 10px;
	font-weight: bold;
	color: #353333;
	text-align: center;
	font-style: italic;
}
.cd {
	margin-top: 20px;
	color: #333;
	text-align: center;
	font-size: 20px;
}
.cd-times {
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
	background-size: cover;
	background-color: #fff;
}
.countdown {
	display: flex;
	margin-top: 10px;
	color: #333;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
.count {
	padding: 10px;
	display: flex;
	flex-grow: 1;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	color: #fff;
	border-radius: 10px;
	background-color: #192841;
	background-image: url(../images/box.png);

}
.daftar a {
	background-color: #192841;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	text-align: justify;
}
h1 {
	text-align: center;
	color: #ffffff;
}
h3 {
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5;
	color: #333;
}
nav {
	background-color: #121e35;
	text-align: center;
	padding: 10px;
	display: flex;
	position: sticky;
	justify-content: space-around;
	border-end-start-radius: 20px;
	border-end-end-radius: 20px;
	top: 0;
}
nav li {
	display: inline;
	list-style-type: none;
	margin-right: 60px;
}
nav li a {
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
}
.daftar {
	background-color: crimson;
	border-radius: 9px;
	width: 10px;
}
.daftar:hover {
	padding: 10px;
	background-color: rgb(182, 7, 42);
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
}
nav li a:hover {
	color: #e4dcdc;
	border-radius: 10px;
	padding: 10px;
	background-color: #0d1524;
	transition: all ease-in-out 0.3s;
}
nav li a:active {
	color: #fffdfd;
	font-weight: bold;
}
main {
	padding: 10px;
	overflow: auto;
}
.doc-column {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
	
	background-color: #fff;
	
}
.doc-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
	margin-bottom: 10px;
}
.doc {
	padding: 10px 10px 4px 0px;
	width: 200px;
	flex-basis: 33%;
	border-radius: 10%;
}
.messages {
	color: #fff;
	text-align: center;
	padding: 10px;
	/* make it fit to aside */
}
.text-container {
	margin-left: 10px;
	padding: 10px;
}
.text-container .italic {
	font-style: italic;
	/* fit the content */
}
.msg-container {
	margin-top: 10px;
	border-radius: 10px;
	font-size: smaller;
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	background-color: #ffffff;
	color: #000000;
	margin-bottom: 10px;
	text-align: justify;
}
.foto-panitia {
	width: 90px;
	border-radius: 50%;
	padding: 5px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(255, 15, 15) 50%, rgb(255, 230, 0) 100%);
	margin: 5px;
}
.foto-panitia:hover {
	background: linear-gradient(120deg, rgba(131,58,180,1) 0%, rgb(255, 15, 15) 50%, rgb(255, 230, 0) 100%);
}
.foto-panitia:active {
	background: #fff
}
.profil-panitia{
	color: #ffffff;
	padding: 10px;
	text-align: center;
	line-height: 50px;
}
.profil-panitia-flex {
	padding: 2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.kdp {
	padding: 10px;
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #ffffff;
}
.form-group {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #192841;
	color: #ffffff;
	text-align: left;
	box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	border-radius: 10px;
	background-image: url(../images/box.png);
}
.form-group label {
	padding-bottom: 10px;
	display: block;
}
.form-group input, .form-group textarea {
	font-family: sans-serif;
	padding: 10px;
	border: none;
	border-radius: 10px;
	color: #000000;
	text-align: left;
}
button {
	padding: 10px;
	border-radius: 10px;
	background-color: #192841;
	color: #ffffff;
	text-align: center;
}
button:hover {
	background-color: #0d1524;
	color: #ffffff;
	transition: all ease-in-out 0.3s;
}
footer {
	padding: 20px;
	color: white;
	text-align: center;
	font-weight: bold;
	background: rgb(217,35,112);
	background: linear-gradient(180deg, rgba(217,35,112,1) 0%, rgba(60,56,140,1) 59%, rgba(18,30,53,1) 100%);
}

@media screen and (max-width: 1180px) {
	.doc-column {
		width: 100%;
	}
	.doc {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.profil-panitia {
		display: inline;
	}
	.foto-panitia {
		width: 100px;
	}
	.form-group {
		width: 100%;
	}
	.form-group input, .form-group textarea {
		width: 70%;
	}
}
@media screen and (max-width: 1100px) {
	aside, aside2 {
		width: 100%;
		height: 100%;
	}
	#container {
		width: 100%;
		height: auto;
	}
}
@media screen and (max-width: 1000px) {
	.doc-row {
		flex-direction: column;
	}
	.doc {
		width: 100%;
		flex-basis: 100%;
		flex-direction: row;
	}
	.count {
		font-size: 15px;
	}
}
@media screen and (max-width: 920px) {
	h1 {
		font-size: 20px;
	}
	nav li {
		margin: 5px;
		font-size: 10px;
	}
	nav li a{
		font-size: 10px;
		margin : -10px;
	}
	.daftar {
		text-decoration: none;
		font-size: 10px;
		margin-left: 10px;
	}
	.daftar:hover {
		text-decoration: none;
		font-size: 10px;
		margin-left: 10px;
	}
	.cd-times {
		padding: 5px;
	}
	.countdown {
		padding: 5px;
	}
	.count {
		margin: 5px;
		font-size: 10px;
	}
	.foto-panitia {
		width: 70px;
	}
	.form-group textarea, input, label {
		font-size: 12px;
	}
}
@media screen and (max-width: 900px) {
	.profil-panitia-flex {
		margin: 20px;
	}
}
@media screen and (max-width: 740px) {
	nav li a{
		margin : -10px;
		font-size: 10px;
	}
	.count {
		font-size: 10px;
		margin: 10px;
	}
	.foto-panitia {
		width: 70px;
	}
}
@media screen and (max-width: 660px) {
	aside {
		max-height: 1200px;
	}
	.cd-times {
		background-size: auto;
	}
}
@media screen and (max-width: 380px) {
	nav li a{
		margin : -10px;
		font-size: 12px;
	}
}
@media screen and (max-width: 280px) {
	nav li a{
		font-size: 10px;
		margin : -10px;
	}
	.cd-times {
		padding: 10px;
	}
	.countdown {
		padding: 10px;
	}
	.count {
		margin: 5px;
		font-size: 8px;
	}
	.foto-panitia {
		width: 80px;
	}
	.form-group textarea {
		font-size: 11px;
	}
}
